.svg-container {
  width: 45%;
  min-width: 150px;
 
}

.svg-container-game {
  width: 45%;
  max-width: 100px;
 
}

.linkYellow:hover {
  background: #FFB84A;
}



.current::before {
  content: "ses";
  position: absolute;
  top: .3em;
  left: 50%;
  width: 0;
  height: 0;
  background: #FDA214;
  border-bottom: 20px solid transparent;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  transform: translate(-50%, -100%);

}

.current::after {
  content: "Current"
}